   body 
   {
    background-image: url(images/bg.jpg);/* Цвет фона и путь к графическому файлу */
	background-size: 100%;
    color: #000; /* Цвет текста */
	height: 100%;
	margin: 0px;
	padding: 0px;
   }
   table.maintable
   {
    border: 0px;
	margin: auto;
	margin-top: 5px; 
	width: 805px;
   }
   .leftimg
   {
	float: left;
	margin: 7px 15px 15px 0
   }
   .textcell
   {
    margin-left: 10px;
	vertical-align: top;
	background-image: url(images/2.png);
	background-size:100% 100%;
   }